section {
  mat-card.deck {
    height: 150px;
    width: 225px;
    margin: 5px;
    background-color: whitesmoke;

    #edit-deck {
      float: right !important;
    }

    .view-deck-container {
      text-align: center;
      padding-top: 40px;
    }

    .view-deck {
      font-weight: bold;
      font-size: 200%;
      color: sienna;
      text-decoration: underline;
    }
  }
}
