<mat-form-field>
  <mat-label>Categories</mat-label>
  <mat-select (selectionChange)="filterDecks($event.value)">
    <mat-option *ngFor="let category of categories" [value]="category">
      {{category}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-grid-list cols="6" rowHeight="2:1">
  <mat-grid-tile *ngFor="let deck of decks">
    <mat-card>
      <mat-card-content>
        <button mat-raised-button>
          <mat-icon>settings</mat-icon>
        </button>
        <div>
          <a href="/deck/{{deck.id}}">{{deck.title}}</a>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
