<section>
  <mat-card>
    <mat-card-title>{{flashcardDeck?.title}}</mat-card-title>
    <mat-card-content>
      <div class="flip-container" onclick="this.classList.toggle('hover');">
        <div class="flipper">
          <mat-card class="front" fxLayout="column">
            <div fxFlex></div>
            <div fxFlex [innerHTML]="selectedCard?.front"></div>
            <div fxFlex></div>
          </mat-card>
          <mat-card class="back" fxLayout="column">
            <div fxFlex></div>
            <div fxFlex [innerHTML]="selectedCard?.back"></div>
            <div fxFlex></div>
          </mat-card>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="previousCard()" class="nav-prev" [disabled]="selectedCard?.id === 0">
        <mat-icon>navigate_before</mat-icon> Previous
      </button>
      <button mat-raised-button color="primary" (click)="nextCard()" class="nav-next" [disabled]="selectedCard?.id === flashcardDeck?.cards.length - 1">
        <mat-icon>navigate_next</mat-icon> Next
      </button>
    </mat-card-actions>
  </mat-card>
</section>
<h2 class="notes-header">Notes</h2>
<fcd-note-viewer [deckId]="flashcardDeck?.id"></fcd-note-viewer>
<fcd-note-creator [deckId]="flashcardDeck?.id"></fcd-note-creator>
