section {
  mat-card-title {
    text-align: center;
  }

  .flip-container {
    perspective: 1000px;
    margin: auto;

    .flipper {
      transition: 0.6s;
      transform-style: preserve-3d;
      position: relative;

      .front, .back {
        backface-visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        vertical-align: middle;
        padding: 10px;
        background-color: whitesmoke;
      }

      .front {
        z-index: 2;
        transform: rotateY(0deg);
      }

      .back {
        transform: rotateY(180deg);
      }
    }
  }

  .flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
  }

  .flip-container, .front, .back {
    width: 320px;
    height: 200px;
  }
}
