<section>
  <mat-card>
    <mat-card-title>{{flashcardDeck?.title}}</mat-card-title>
    <mat-card-content>
      <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
          <mat-card class="front" fxLayout="column">
            <div fxFlex></div>
            <div fxFlex>{{selectedCard?.front}}</div>
            <div fxFlex></div>
          </mat-card>
          <mat-card class="back" fxLayout="column">
            <div fxFlex></div>
            <div fxFlex>{{selectedCard?.back}}</div>
            <div fxFlex></div>
          </mat-card>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</section>
