<section>
  <form [formGroup]="form" (ngSubmit)="signup()">
    <mat-card>
      <mat-card-content>
        <mat-form-field>
          <input matInput placeholder="Username" formControlName="username" />
        </mat-form-field>
        <mat-form-field>
          <input type="password" matInput placeholder="Password" formControlName="password" />
        </mat-form-field>
        <mat-form-field>
          <input type="password" matInput placeholder="Password Confirmation" formControlName="passwordConfirmation" />
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit">Signup</button>
      </mat-card-actions>
    </mat-card>
  </form>
</section>
