<section>
  <form [formGroup]="form" (ngSubmit)="saveDeck()">
    <mat-card>
      <mat-card-content class="card-container">
        <mat-form-field>
          <input matInput placeholder="Deck Title" formControlName="title" />
        </mat-form-field>

        <div fxLayout="row" fxLayoutGap="20px">
          <div fxFlex>
            <mat-form-field>
              <mat-label>Tags</mat-label>
              <mat-select multiple [value]="allTags" formArrayName="tags">
                <mat-option *ngFor="let tag of allTags" value="{{tag}}">{{tag}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxFlex="130px">
            <button id="add-tag" mat-raised-button color="primary" (click)="addTagDialog()" type="button">
              <mat-icon>label</mat-icon> Create Tag
            </button>
          </div>
        </div>

        <div fxLayout="row" fxLayout.sm="column" fxLayout.lt-sm="column" fxLayoutGap="20px" fxLayoutGap.sm="0" fxLayoutGap.lt-sm="0">
          <div fxFlex="250px" fxHide fxShow.gt-sm>
            <mat-card class="flashcard-list">
              <mat-card-content>
                <div fxLayout="column">
                  <div fxFlex>
                    <mat-button-toggle-group vertical [value]="selectedCardId" (change)="setSelectedCard($event)">
                      <mat-button-toggle *ngFor="let card of form.get('cards').value" [value]="card.id" [checked]="card.id === selectedCardId">
                        {{card.label}}
                      </mat-button-toggle>
                    </mat-button-toggle-group>
                  </div>
                  <div fxFlex="36px">
                    <button mat-raised-button color="primary" id="add-card" (click)="addCard()" type="button">
                      <mat-icon>add</mat-icon> Create Card
                    </button>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </div>

          <div fxFlex *ngIf="!showSidebar" fxHide fxShow.sm fxShow.lt-sm>
            <div fxLayout="row" class="card-select-selector">
              <div fxFlex="25px" class="menu-icon">
                <mat-icon>menu</mat-icon>
              </div>
              <div fxFlex>
                <mat-form-field>
                  <mat-label>Cards</mat-label>
                  <mat-select [value]="selectedCardId" (selectionChange)="setSelectedCard($event)">
                    <mat-option *ngFor="let card of form.get('cards').value" [value]="card.id">{{card.label}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div fxFlex="130px" class="create-card-button">
                <button mat-raised-button color="primary" (click)="addCard()" type="button">
                  <mat-icon>add</mat-icon> Create Card
                </button>
              </div>
            </div>
          </div>

          <div fxFlex formArrayName="cards">
            <div *ngFor="let card of form.get('cards').controls; index as i" [formGroupName]="i" [ngSwitch]="selectedCardId">
              <mat-card *ngSwitchCase="i">
                <mat-card-title>{{form.get('title').value}}</mat-card-title>
                <mat-card-content>
                  <mat-form-field>
                    <input matInput placeholder="Card Label" formControlName="label" />
                  </mat-form-field>
                  <label for="card-front">Card Front</label>
                  <ckeditor [editor]="Editor" formControlName="front"></ckeditor>
                  <ckeditor [editor]="Editor" formControlName="back"></ckeditor>
                  <button mat-raised-button color="primary" id="delete-card" (click)="deleteCard()" type="button">
                    <mat-icon>delete_outline</mat-icon> Delete Card
                  </button>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit">
          <mat-icon>save_alt</mat-icon> Save
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</section>
