<section>
  <form [formGroup]="form" (ngSubmit)="saveDeck()">
    <mat-card>
      <mat-card-content class="card-container">
        <mat-form-field>
          <input matInput placeholder="Deck Title" formControlName="title" />
        </mat-form-field>

        <div fxLayout="row" fxLayoutGap="20px">
          <div fxFlex>
            <mat-form-field>
              <mat-label>Tags</mat-label>
              <mat-select multiple [value]="allTags" formArrayName="tags">
                <mat-option *ngFor="let tag of allTags" value="{{tag}}">{{tag}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxFlex="130px">
            <button id="add-tag" mat-raised-button color="primary" (click)="addTagDialog()">
              <mat-icon>label</mat-icon> Create Tag
            </button>
          </div>
        </div>

        <div fxLayout="{{ showSidebar ? 'row' : 'column' }}" fxLayoutGap="{{ showSidebar ? '20px' : '' }}">
          <div fxFlex="250px" *ngIf="showSidebar">
            <mat-card class="flashcard-list">
              <mat-card-content>
                <div fxLayout="column">
                  <div fxFlex>
                    <mat-button-toggle-group vertical [value]="selectedCardId || 0" (change)="setSelectedCard($event)">
                      <mat-button-toggle *ngFor="let card of form.get('cards').value" value="{{card.id}}" [checked]="card.id === selectedCardId">
                        {{card.label}}
                      </mat-button-toggle>
                    </mat-button-toggle-group>
                  </div>
                  <div fxFlex="36px">
                    <button mat-raised-button color="primary" id="add-card" (click)="addCard()">
                      <mat-icon>add</mat-icon> Create Card
                    </button>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </div>

          <div formArrayName="cards">
            <div fxFlex *ngFor="let card of form.get('cards').controls; index as i" [formGroupName]="i">
              <mat-card *ngIf="selectedCardId === i">
                <mat-card-title>{{form.get('title').value}}</mat-card-title>
                <mat-card-content>
                  <mat-form-field>
                    <input matInput placeholder="Card Label" formControlName="label" />
                  </mat-form-field>
                  <mat-form-field>
                    <textarea matInput placeholder="Card Front" rows="4" formControlName="front"></textarea>
                  </mat-form-field>
                  <mat-form-field>
                    <textarea matInput placeholder="Card Back" rows="4" formControlName="back"></textarea>
                  </mat-form-field>
                  <button mat-raised-button color="primary" id="delete-card" (click)="deleteCard()">
                    <mat-icon>delete_outline</mat-icon> Delete Card
                  </button>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </div>

        <!--<div fxLayout="{{ showSidebar ? 'row' : 'column' }}" fxLayoutGap="{{ showSidebar ? '20px' : '' }}">

          <div fxFlex *ngIf="!showSidebar">
            <div fxLayout="row" class="card-select-selector">
              <div fxFlex="25px" class="menu-icon">
                <mat-icon>menu</mat-icon>
              </div>
              <div fxFlex>
                <mat-form-field>
                  <mat-label>Cards</mat-label>
                  <mat-select [value]="selectedCard?.id || 0" (selectionChange)="setSelectedCard($event)">
                    <mat-option *ngFor="let card of flashcardDeck?.cards" [value]="card.id">{{card.label}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div fxFlex="130px" class="create-card-button">
                <button mat-raised-button color="primary" (click)="addCard()">
                  <mat-icon>add</mat-icon> Create Card
                </button>
              </div>
            </div>
          </div>
        </div>-->
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit">
          <mat-icon>save_alt</mat-icon> Save
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</section>
