<div fxLayout="row">
  <div fxFlex="15%"></div>
  <div fxFlex>
    <mat-toolbar>
      <button mat-button [routerLink]="['']">Flashcard</button>
      <button mat-button [routerLink]="['/create']">Create</button>
      <span class="fill-space"></span>
      <button mat-button [routerLink]="['/login']" *ngIf="!cookieExists('username')">Login</button>
      <span *ngIf="!!cookieExists('username')">{{username()}}</span>
      <button mat-button (click)="logout()" *ngIf="!!cookieExists('username')">Logout</button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </div>
  <div fxFlex="15%"></div>
</div>
