<form [formGroup]="form" (ngSubmit)="createNote()">
  <mat-form-field>
    <textarea matInput placeholder="Add Note..." formControlName="content"></textarea>
    <mat-error>
      <div class="error" *ngIf="form.get('content').getError('required')">Note is required</div>
      <div class="error" *ngIf="form.get('content').getError('minlength')">Note has to have at least 15 characters</div>
      <div class="error" *ngIf="form.get('content').getError('maxlength')">Note cannot have more than 2000 characters</div>
    </mat-error>
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid || isSending">Create Note</button>
</form>
